define service{
        use                             generic-service
        host_name                       {hostname}
        service_description             Load AVG
        check_command                   check_nrpe!check_root_partition
        contact_groups                  admins
        }